<h1>本のリスト</h1>
<button type="button">
  <%= link_to("本を登録する", "/book_page/new") %>
</button>

<table>
  <tr><!-- 行1（見出し）-->
    <th>書名</th> <th>著者</th> <th>状態</th> <th>乱読メモ数（未読メモ数／総メモ数）</th> <th>読む予定のページ数</th> <th>入力メモ数</th>
  </tr>
  <!-- 繰り返し処理 -->
  <% books.each do |book|%>
    <tr><!-- 行2-->
      <td><%= link_to(book.title, "/book_pages/#{book.id}") %></td>
      <td><%= book.author_1 %> / <%= book.author_2 %></td>
      <td><%= book.reading_state %></td>
      <td><%= book.randoku_img_read_again_count %> / <%= book.randoku_img_read_again_count + book.randoku_img_finish_read_count %></td>
      <td><%= book.total_page %></td>
      <td>入力メモの数（乱読・精読）</td>
    </tr>
  <% end %>
</table>
<p>00/20</p>
<p>ページネーション</p>
