<h1>本のリスト</h1>
<button type="button">
  <%= link_to("本を登録する", "/book_pages/new") %>
</button>

<table>
  <% books.each do |book|%>
    <tr><!-- 行1（見出し）-->
      <th colspan="4", align="left"><%= link_to(book.title, "/book_pages/#{book.id}") %>
      <br><%= " 著_#{book.author_1}" %>
      </th>
    </tr>

    <tr>
      <td>
        <p>読書の状態<br>
        <%= book.reading_state %>
        <p>乱読メモ数<br>
        <%= book.randoku_img_read_again_count + book.randoku_img_finish_read_count %>枚</p>
      </td>
      <td>
      <% book.randoku_img_file_names.each_with_index do |file_name, n| %>
        <% if n <= 2 %>
          <img src="<%= "/#{book.id}/thumb/#{file_name}" %>" width="250" height="150" class="gallery-list">
        <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
