<h1>登録した本の情報</h1>
<p>
<%= book.title %>
</p>
<p>
<%= book.author_1 %>
<% unless book.author_2 == "" %>
  <%= ", #{book.author_2}" %>
<% end %>
</p>
<p>
<%= book.publisher %>
</p>
<p>
<%= book.total_page %>
</p>

<!--画像アップロードフォームを表示-->
<%= form_tag("book_pages/#{book_id}/imgs"), {multipart: :true} do %>
  <h2>気になったページはパシャパシャ撮ってアップロードするだけ。<br>
  後で読み返せるメモにしましょう</h2>
  <input name="page_imgs[]" type="file" multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
  <div>
    <input type="submit" value="ファイルを選択する">
  </div>
  <p>投稿できる画像の拡張子はjpg/jpeg/png/heic/pdf(1ページ分)のみになります</p>
<% end %>

<!--画像メモ一覧を表示-->
<h2>乱読メモ一覧</h2>
<% if book.randoku_imgs.empty? %>
  "画像がありません"
<% else %>
  <% book.randoku_imgs.each do |randoku_img| %>
    <img src="<% "/#{book.id}/#{randoku_img}" %>?#{Time.now.to_i}"/>
  <% end %>
<% end %>


