<h1>登録した本の情報</h1>

<p>
<%= book.title %>
</p>
<p>
<%= book.author_1 %>
</p>
<p>
<%= book.publisher %>
</p>
<p>
<%= book.total_page %>
</p>
<p>乱読画像メモ</p>
<p>
未読：<%= book.randoku_img_read_again_count %>, 読了：<%= book.randoku_img_finish_read_count %>
</p>


<!--画像アップロードフォームを表示-->
<%= form_tag("/book_pages/#{book.id}/imgs", {multipart: true}) do %>
  <h4>気になったページはパシャパシャ撮ってアップロードするだけ。<br>
  後で読み返せるメモにしましょう</h4>
  <input name="page_imgs[]" type="file" multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
  <div>
    <input type="submit" value="アップロードする">
  </div>
  <p>投稿できる画像の拡張子はjpg/jpeg/png/heic/pdf(1ページ分)のみになります</p>
<% end %>

<!--画像メモ一覧を表示-->
<h2>乱読メモ一覧</h2>
<% if book.randoku_img_file_names.empty? %>
  "画像がありません"
<% else %>
  <% book.randoku_img_file_names.each do |file_name| %>
    <img src="<%= "/#{book.id}/thumb/#{file_name}" %>?#{Time.now.to_i}"/>
  <% end %>
<% end %>


