<h1>登録した本の情報</h1>
<p>
<%= book.title %>
</p>
<p>
<%= book.author_1 %>
<% unless book.author_2 == "" %>
  <%= ", #{book.author_2}" %>
<% end %>
</p>
<p>
<%= book.publisher %>
</p>
<p>
<%= book.total_page %>
</p>
<p>乱読画像メモ</p>
<p>
未読：<%= randoku_img.read_again %>, 読了：<%= randoku_img.finish_read %>
</p>


<!--画像アップロードフォームを表示-->
<%= form_tag("/book_pages/#{book.id}/imgs", {multipart: true}) do %>
  <h4>気になったページはパシャパシャ撮ってアップロードするだけ。<br>
  後で読み返せるメモにしましょう</h4>
  <input name="page_imgs[]" type="file" multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
  <div>
    <input type="submit" value="アップロードする">
  </div>
  <p>投稿できる画像の拡張子はjpg/jpeg/png/heic/pdf(1ページ分)のみになります</p>
<% end %>

<!--画像メモ一覧を表示-->
<h2>乱読メモ一覧</h2>
<% if randoku_img.files.empty? %>
  "画像がありません"
<% else %>
  <% randoku_img.files.each do |randoku_img| %>
    <img src="<%= "/#{book.id}/thumb/#{randoku_img}" %>?#{Time.now.to_i}"/>
  <% end %>
<% end %>


