<div class="index-user-last-time-book-table">
  <p class="rank-title">
    <i class="fa-solid fa-arrow-down-9-1"></i>
    <%= books_rank.rank_title %>
  </p>
  <div class="index-user-lesson-label">
    <p><i class="fa-solid fa-book index-lesson-label-icon"></i></p>
    <p class="index-lesson-label">前回の続き</p>
  </div>
  <% if books.randoku_history.empty? %>
    <p class="no-randoku-history pre">乱読画像を投稿してメモを再読する必要性を伝える</p>
  <% end %>

  <% if !books.randoku_history.empty? %>
    <div class="index-user-book-info">
      <div class="index-user-book">
        <%= link_to "/books/#{books.randoku_history[:id]}" do %>
          <div class="index-user-book-cover">
            <% if books.randoku_history[:randoku_history_ranking].present? %>
              <!--<%= books.randoku_history[:randoku_history_ranking] %>位</p>-->
              <i class="fa-solid fa-crown index-crown pre"></i>
            <% end %>
            <img src="https://placehold.jp/80x110.png" width="100%" alt="ブックカバー" class="index-book-cover-img" />
          </div>
          <div class="index-user-book-title">
            <p>
              <p class="index-book-title-label font-small-10">タイトル</p>
              <span class="index-book-title pre"><%= books.randoku_history[:title] %></span>
            </p>
            <span class="index-book-progress pre font-small-12"><%= books.randoku_history[:reading_state] %></span>
            <p>
              <span class="index-book-remaining font-small-12"><%= books.randoku_history[:remaining] %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div class="index-user-book-memo">
        <div class="index-user-book-memo-count">
          <p><span class="index-book-label font-small-12">乱読画像数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-image index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count imgs pre font-large"><%= books.randoku_history[:randoku_imgs_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>
        <div class="index_memo__separator"></div>
        <div class="index-user-book-memo-count">
          <p><span class="index-book-label font-small-12">乱読メモ数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-note-sticky index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count memos pre font-large"><%= books.randoku_history[:randoku_memos_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
