<div class="index-user-last-time-book-table">
  <div class="index-user-lesson-label">
    <p><i class="fa-solid fa-book index-lesson-label-icon"></i></p>
    <p class="index-lesson-label col-dark-brown">前回の続き</p>
  </div>
  <% if books.randoku_history.empty? %>
    <p class="no-history pre">前回の本がありません</p>
  <% end %>

  <% if !books.randoku_history.empty? %>
    <div class="index-user-book-info">
      <div class="index-user-book">
        <%= link_to "/books/#{books.randoku_history[:id]}" do %>
          <div class="index-user-book-cover">
            <% if books.randoku_history[:randoku_history_ranking].present? %>
              <!--<%= books.randoku_history[:randoku_history_ranking] %>位</p>-->
              <i class="fa-solid fa-crown index-crown pre"></i>
            <% end %>
            <img
              src="<%= books.randoku_history[:cover_path] %>"
              width="100%"
              alt="ブックカバー"
              class="index-book-cover-img"
            />
          </div>
          <div class="index-user-book-title">
            <p>
              <span class="index-book-title pre"><%= books.randoku_history[:title] %></span>
            </p>
            <span class="index-book-progress pre font-small-12"><%= books.randoku_history[:reading_state] %></span>
            <p>
              <span class="index-book-remaining font-small-12"><%= books.randoku_history[:remaining] %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div class="index-user-book-memo-wrapper">
        <div class="index-user-book-memo">
          <div class="index-user-book-memo-count">
            <p><span class="index-book-label font-small-12">画像のメモ数</span></p>
            <div class="index-book-memo">
              <i class="fa-regular fa-image index-memo-icon"></i>
              <p>
                <span class="index-book-memo-count imgs pre font-large"><%=
                    books.randoku_history[:randoku_imgs_count]
                  %></span>
                <span class="index-book-memo-unit">枚</span>
              </p>
            </div>
          </div>
          <div class="index_memo__separator"></div>
          <div class="index-user-book-memo-count">
            <p><span class="index-book-label font-small-12">さらさら読書メモ数</span></p>
            <div class="index-book-memo">
              <i class="fa-regular fa-note-sticky index-memo-icon"></i>
              <p>
                <span class="index-book-memo-count memos pre font-large"><%=
                    books.randoku_history[:randoku_memos_count]
                  %></span>
                <span class="index-book-memo-unit">枚</span>
              </p>
            </div>
          </div>
        </div>
        <%=
          link_to '本の詳細へ',
                  "/books/#{books.randoku_history[:id]}",
                  class: 'link-button line-button-detail index-user-book-memo-btn'
        %>
      </div>
    </div>
  <% end %>
</div>
