<div class="index-user-book-table">
  <div class="index-user-lesson-label">
    <p><i class="fa-solid fa-book fa-lg index-lesson-label-icon"></i></p>
    <p class="index-lesson-label">登録中の本</p>
  </div>

  <% if books_rank.books_index_rank.empty? %>
    <p class="no-rank-book">乱読中の本がありません</p>
  <% end %>

  <% books_rank.books_index_rank.each_with_index do |book, i| %>
    <div class="index-user-book-info book-<%= i %> book-<%= book[:id] %>">
      <div class="index-user-book">
        <div class="index-user-book-cover">
          <% if book[:randoku_ranking].present? %>
            <i class="fa-solid fa-crown fa-lg index-crown rank"></i>
          <% end %>
          <img src="https://placehold.jp/80x110.png" width="100%" alt="ブックカバー" class="index-book-cover-img" />
        </div>
        <div class="index-user-book-title">
          <p class="index-book-title rank"><%= book[:title] %></p>
          <p>book-<%= i %></p>
          <p>book-<%= book[:id] %></p>
          <span class="index-book-progress rank"><%= book[:reading_state] %></span>
        </div>
      </div>

      <div class="index-user-book-memo">
        <div class="index-user-book-memo-count">
          <p><span class="index-book-label">乱読画像数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-image fa-lg index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count imgs rank"><%= book[:randoku_imgs_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>

        <div class="index-user-book-memo-count">
          <p><span class="index-book-label">乱読メモ数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-note-sticky fa-lg index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count memos rank book-${book[:id]"><%= book[:randoku_memos_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
