<div class="index-user-book-table">
  <div class="index-user-lesson-label">
    <p><i class="fa-solid fa-book index-lesson-label-icon"></i></p>
    <p class="index-lesson-label col-dark-brown">登録中の本</p>
  </div>

  <% if books_rank.books_index_rank.empty? %>
    <p class="no-rank-book">じっくり読書中の本がありません</p>
  <% end %>

  <% books_rank.books_index_rank.each do |book| %>
    <div class="index-user-book-info">
      <div class="index-user-book">
        <%= link_to "/books/#{book[:id]}" do %>
          <div class="index-user-book-cover">
            <% if book[:randoku_ranking].present? %>
              <i class="fa-solid fa-crown index-crown"></i>
            <% end %>
            <img src="<%= book[:cover_path] %>" width="100%" alt="ブックカバー" class="index-book-cover-img" />
          </div>
          <div class="index-user-book-title">
            <p class="index-book-title"><%= book[:title] %></p>
          </div>
        <% end %>
      </div>

      <div class="index-user-book-memo-wrapper">
        <div class="index-user-book-memo">
          <div class="index-user-book-memo-count">
            <p><span class="index-book-label font-small-12">画像のメモ数</span></p>
            <div class="index-book-memo">
              <i class="fa-regular fa-image index-memo-icon"></i>
              <p>
                <span class="index-book-memo-count font-large"><%= book[:randoku_imgs_count] %></span>
                <span class="index-book-memo-unit">枚</span>
              </p>
            </div>
          </div>

          <div class="index_memo__separator"></div>
          <div class="index-user-book-memo-count">
            <p><span class="index-book-label font-small-12">じっくり読書メモ数</span></p>
            <div class="index-book-memo">
              <i class="fa-regular fa-note-sticky index-memo-icon"></i>
              <p>
                <span class="index-book-memo-count font-large"><%= book[:seidoku_memos_count] %></span>
                <span class="index-book-memo-unit">枚</span>
              </p>
            </div>
          </div>
        </div>
        <%=
          link_to '本の詳細へ', "/books/#{book[:id]}", class: 'link-button line-button-detail index-user-book-memo-btn'
        %>
      </div>
    </div>
  <% end %>
</div>
