<h1>メモを検索する</h1>
<%= form_tag("/home/memo_search_result", method: :post) do %>
  <div>
    <select name="selected_search_value[]"><option value="0">メモの種類で検索をする</option>
      <optgroup label="乱読メモ">
        <% search.randoku_memo_type.each_with_index do | (k, value), i | %>
          <% if search.randoku_memo_selected_menu == k %>
            <option value="<%= k %>" selected><%= value %></option>
          <% else %>
            <option value="randoku[<%= i+1 %>]"><%= value %></option>
          <% end %>
        <% end %>
      </optgroup>

      <optgroup label="精読メモ">
        <% search.seidoku_memo_type.each_with_index do | (k, value), i | %>
          <% if search.seidoku_memo_selected_menu == k %>
            <option value="<%= k %>" selected><%= value %></option>
          <% else %>
            <option value="seidoku[<%= i+5 %>]"><%= value %></option>
          <% end %>
        <% end %>
      </optgroup>

    </div>
  <input type="submit" value="絞り込む">
<% end %>

<% if search.selected_memos.present? %>
<h3>検索結果</h3>
<p>result<%= search.selected_memos_count %>件</p>
<div>
  <% search.selected_memos.each do |memo| %>
    <%= search.created_at %><br>
    <%= search.content_type %><br>
    <%= search.content %><br>
    <%= search.book_title %><br>
    <%= search.book_author %><br>
    <%= search.book_reading_progress %><br>
  <% end %>
</div>
<% end %>
