<h1>メモを検索する</h1>
<%= form_tag("/home/search", method: :post) do %>
  <div>
    <select name="value"><option value="">メモの種類で検索をする</option>
      <optgroup label="乱読メモ">
        <% book.randoku_memo_type.each.with_index do |(k, value), i| %>
          <option value="randoku[<%=i%>]"><%= value %></option>
        <% end %>
      </optgroup>
      <optgroup label="精読メモ">
        <% book.seidoku_memo_type.each.with_index do |(k, value), i| %>
          <option value="seidoku[<%=i%>]"><%= value %></option>
        <% end %>
      </optgroup>
    </div>
  <input type="submit" value="絞り込む">
<% end %>
<h3>検索結果</h3>
<p>result<%= book.selected_memos_count %>件</p>
<div>
  <% book.selected_memos.each do |memo| %>
    <%= memo[:created_at] %><br>
    <%= memo[:content_state] %><br>
    <%= memo[:content] %><br>
    <%= memo[:book_title] %><br>
    <%= memo[:book_author] %><br>
    <%= memo[:book_reading_state] %><br>
  <% end %>
</div>
