<div class="main-content-js inner tabbed-content tabbed-content-memos-inner">
  <div>
    <p class="seidoku-remaining-js show-tab">
      <%= book.remaining %>
    </p>
    <p id="img_read_status_count" class="font-small-12 with-quote">
      じっくり読書の基準：画像メモが
      <span class="book_seidoku_line_1 font-small-12"><%= book.seidoku_line_1 %></span>枚以上、未読の画像メモが
      <span class="book_seidoku_line_2 font-small-12"><%= book.seidoku_line_2 %></span>枚未満
    </p>
    <% if book.first_post_img_path.present? %>
      <%=
        link_to '初めての投稿画像',
                'javascript:void(0)',
                class: 'sw_modal_trigger with-quote',
                'data-slide-index': 0,
                'data-src': "#{book.first_post_img_path}"
      %>
    <% end %>
  </div>

  <div class="upload-file-form">
    <!--画像アップロードフォームを表示-->
    <%= form_tag("/books/#{book.id}/imgs", multipart: true, id: 'upload-form') do %>
      <input
        id="file-field"
        name="page_imgs[]"
        type="file"
        multiple="true"
        accept=".jpg, .jpeg, .png, .heic"
        style="display: none;"
        onchange="form.submit()"
      />
      <label for="file-field" class="upload-button">画像をアップロード</label>
    <% end %>

    <p class="upload-description">
      jpg/jpeg/png/heic 拡張子を投稿できます。<br />
      同じ名前の画像は上書きされます。複数枚投稿できます。
    </p>
  </div>

  <div>
    <p class="imgs-count">Total <%= book.randoku_imgs_all_count %>枚</p>
    <!--画像メモ一覧を表示-->
    <% if book.randoku_imgs_all.empty? %>
      <div class="no-content">
        <p class="tabbed-memo-no-content">まだ画像メモがありません</p>
        <img src="/illust/octopus.png" width="100%" alt="イラスト" class="show-no-img-illust" />
      </div>
    <% else %>
      <ul class="img-thumbnails">
        <% book.randoku_imgs_all.each_with_index do |img, i| %>
          <li class="img-thumbnail">
            <!--
              <div
                class="thumbnail-wide"
                data-slide-index="<%= i %>"
                style="background-image: url(<%= "#{img.thumbnail_path}" %>?#{Time.now.to_i})"
              ></div>
              -->

            <img
              src="<%= "#{img.thumbnail_path}" %>?#{Time.now.to_i}"
              alt=" "
              class="sw_modal_trigger"
              data-slide-index="<%= i %>"
            />

            <div class="img-info">
              <div class="img-item-name">
                <p class="img-name"><%= img.name %></p>
                <p class="img-updated"><%= img.updated_at %></p>
              </div>
              <div class="img-item-icon">
                <p class="is_already_read_check" data-img-id="<%= img.id %>">
                  <%=
                    if img.alreadyread == 0
                      '<i class="fa-regular fa-square thumb-nocheck"></i>'.html_safe
                    else
                      '<i class="fa-solid fa-square-check thumb-check"></i>'.html_safe
                    end
                  %>
                </p>
                <p class="img_bookmark_check" data-img-id="<%= img.id %>">
                  <i class="fa-bookmark <%= img.bookmark_flag == 0 ? 'fa-regular' : 'fa-solid' %>"></i>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<!-- さらさら読書画像メモを表示するためのモーダル -->
<%= render partial: 'books/modal_randoku_slide', locals: { book: book } %>
