<div class="main-content-js inner tabbed-content tabbed-content-memos-inner memo-plus">
  <!--<div class="memo-count-info">-->
  <div class="show-memo-plus-count">
    <p>Total <%= book.randoku_memos_all_count %>枚</p>
    <div class="show-memo-plus-btn">
      <%= link_to "/books/#{book.id}/randoku_memos/new" do %>
        <div class="icon-container">
          <i class="fa-solid fa-circle memo-plus-btn"></i>
          <i class="fa-solid fa-feather-pointed memo-plus-btn overlay"></i>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tabbed-memos-content">
    <% if !book.randoku_memos.present? %>
      <div class="no-content">
        <p class="tabbed-memo-no-content">まださらさら読書メモがありません</p>
        <img src="/illust/squirrel.png" width="100%" alt="イラスト" class="show-no-img-illust" />
      </div>
    <% else %>
      <% book.randoku_memos.each_with_index do |memo| %>
        <div class="tabbed-memo-content">
          <!--昇順-->
          <!-- memo-header -->
          <div class="memo-content-header">
            <p class="memo-created-at"><%= memo.created_at %></p>
            <p class="memo-edit-btn navi-trigger-btn-js">
              <i class="fa-solid fa-ellipsis memo-ellipsis "></i>
            </p>
          </div>
          <!-- navi-menu -->
          <div class="memo-edit-navi navi-panel-js">
            <ul class="edit-menus">
              <li class="edit-menu">
                <%= link_to('編集', '#', class: 'button') %>
              </li>
              <li class="edit-menu">
                <%= link_to('削除', '#', class: 'button') %>
              </li>
            </ul>
          </div>
          <p class="memo-content-type"># <%= memo.content_type %></p>
          <p class="memo-content-text"><%= memo.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
