<div class="main-content-js inner tabbed-content tabbed-content-memos-inner">
  <div>
    <p class="seidoku_status_count">
      精読メモ：著者の意見<span><%= book.seidoku_memo_author_opinion_count %></span> 自分の意見<span><%=
          book.seidoku_memo_my_opinion_count
        %></span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </p>
  </div>

  <!--<div class="memo-count-info">-->
  <div class="show-memo-plus-count">
    <p>Total <%= book.seidoku_memos_all_count %>枚</p>
    <div class="show-memo-plus-btn color-darkgray">
      <%=
        link_to(
          '<i class="fa-solid fa-circle-plus fa-2xl memo-plus-btn"></i>'.html_safe,
          "/books/#{book.id}/seidoku_memos/new",
        )
      %>
    </div>
  </div>

  <div class="tabbed-memos-content">
    <% if !book.seidoku_memos.present? %>
      <p>"まだ乱読メモがありません"</p>
    <% else %>
      <% book.seidoku_memos.each_with_index do |memo| %>
        <div class="tabbed-memo-content">
          <!--昇順-->
          <!-- memo-header -->
          <div class="memo-content-header">
            <p class="memo-created-at"><%= memo.created_at %></p>
            <p class="memo-edit-btn navi-trigger-btn-js">
              <i class="fa-solid fa-ellipsis memo-ellipsis "></i>
            </p>
          </div>
          <!-- navi-menu -->
          <div class="memo-edit-navi navi-panel-js">
            <ul class="edit-menus">
              <li class="edit-menu">
                <%= link_to('編集', '#', class: 'button') %>
              </li>
              <li class="edit-menu">
                <%= link_to('削除', '#', class: 'button') %>
              </li>
            </ul>
          </div>
          <p class="memo-content-type"># <%= memo.content_type %></p>
          <p class="memo-content-text"><%= memo.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
