<!-- モーダル -->
<div class="sw-modal">
  <div class="sw-reveal-outer">
    <div class="sw-reveal-wrapper">
      <div class="sw-reveal-inner">
        <!-- フラッシュを表示 -->
        <div class="c-flash c-flash--notice slide">
          <div class="c-flash-icon">
            <div class="c-flash-text"></div>
          </div>
        </div>

        <!-- フラッシュアラートを表示 -->
        <div class="c-flash c-flash--alert slide">
          <div class="c-flash-text"></div>
          <i class="fa-solid fa-xmark c-flash-close" id="close-flash"></i>
        </div>

        <!-- トータルページモーダル -->
        <div class="ModalOverlay"></div>
        <div class="ModalWrapper">
          <div class="ModalContent slide">
            <i class="ModalCloseButton fa-solid fa-xmark" aria-hidden="true"></i>
            <div class="modal-total-page slide">
              <p class="total-page-title slide">読む予定のページ数を<br />入力してください</p>
              <p class="total-page-description slide">
                読む予定とは本のページ数のことです。<br />
                「乱読」と「精読」の評価に使われる数字です。<br />
                <span>（20-999の整数のみ入力できます）</span>
              </p>
              <input
                id="input_total_page_slide_js"
                class="input-total-page slide"
                type="number"
                name="total_page"
                min="20"
                step="1"
                placeholder="20"
                value="<%= book.total_page.present? && book.total_page != 0 ? book.total_page : 20 %>"
              />
              <p id="total_page_valid_error_slide"></p>
              <div class="cirremt-total-page-wrap">
                <p class="current-total-page-text">現在読む予定</p>
                <p class="current-total-page">
                  <span class="js-update-current-total-page"><%= book.total_page %></span>
                  <span class="total-page-unit">P</span>
                </p>
              </div>
              <p class="seidoku-remaining-js total-modal">
                <%= book.remaining %>
              </p>
              <p id="img_read_status_count_modal">
                <span
                  >（精読基準：画像メモ <span class="book_seidoku_line_1"><%= book.seidoku_line_1 %></span>枚以上、未読
                  <span class="book_seidoku_line_2"><%= book.seidoku_line_2 %></span>枚未満）</span
                ><br />現在の乱読画像メモの未読は
                <span class="randoku_imgs_unread_count"><%= book.randoku_imgs_unread_count %></span>枚
              </p>
            </div>

            <input
              id="total_page_submit_btn_js"
              class="submit-button slide"
              data-book-id="<%= book.id %>"
              type="submit"
              value="更新する"
            />
            <!--idはfetchで取得するため, validationに使用-->
          </div>
        </div>

        <!-- judge-popup -->
        <div>
          <!-- 精読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-seidoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--seidoku">
              精読です！精読ページは「精読ああああ精読です」です！
            </div>
            <div class="judge-popup__suggestion">つまったときはスライドやヒントも確認してみましょう</div>
          </div>
          <!-- 通読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-tudoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--tudoku">
              通読です！通読ページは「通読ああああ通読です」です！
            </div>
            <div class="judge-popup__suggestion">つまったときはスライドやヒントも確認してみましょう</div>
          </div>
          <!-- 乱読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-randoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--randoku">
              乱読です！乱読ページは「乱読ああああ乱読です」です！
            </div>
            <div class="judge-popup__suggestion">つまったときはスライドやヒントも確認してみましょう</div>
          </div>
        </div>

        <!-- 本の状態を表示 -->
        <div class="modal_header">
          <div>
            <div class="book-progress slide">
              <div class="book-progress-icon"><i class="fa-solid fa-book-bookmark"></i></div>
              <!-- jsで利用 -->
              <div class="book_reading_progress slide"><%= book.reading_progress %></div>
            </div>
            <p class="seidoku-remaining-js slide">
              <%= book.remaining %>
            </p>
          </div>
          <p class="sw_book_title"><%= book.title %></p>
          <button id="sw-close-btn" class="sw-close-button sw-close-btn-js">
            <i class="fa-solid fa-circle-xmark color-darkgreen"></i>
          </button>
        </div>

        <!-- スライドページ全体のヘッダー -->
        <div class="sp_modal_header">
          <div>
            <div class="book-progress slide">
              <p class="sw_book_title tap-none-js tap-none-js"><%= book.title %></p>
              <!-- jsで利用 -->
              <div class="book_reading_progress slide tap-none-js"><%= book.reading_progress %></div>
              <p class="seidoku-remaining-js slide tap-none-js">
                <%= book.remaining %>
              </p>
            </div>
          </div>
          <button id="sw-close-btn" class="sw-close-button sw-close-btn-js tap-none-js">
            <i class="fa-solid fa-circle-xmark color-darkgreen"></i>
          </button>
        </div>

        <!-- Sliderを包むコンテナ要素 -->
        <div class="swiper">
          <!-- スライド要素を包む要素 -->
          <div class="swiper-wrapper">
            <!-- 各スライド -->
            <% book.randoku_imgs_all.each do |slide_img| %>
              <div class="swiper-slide">
                <div class="sw_img container">
                  <div class="sw_slide_img outer">
                    <div class="panzoom">
                      <div class="sp-touchpoint-js"></div>
                      <img
                        src="<%= slide_img.path %>?<%= Time.now.to_i %>"
                        class="panzoom-img"
                        alt=" "
                        data-img-path="<%= slide_img.path %>"
                        data-img-name="<%= slide_img.name %>"
                      />
                      <!-- sp版のbookmarkボタン -->
                      <div class="sp_sw_img_footer_1 tap-none-js">
                        <button
                          class="sw_bookmark_btn"
                          data-bookmark-id="<%= slide_img.bookmark_flag %>"
                          data-img-id="<%= slide_img.id %>"
                          data-book-id="<%= book.id %>"
                        >
                          <!-- bookmark_on : bookmark_off -->
                          <i
                            class="fa-bookmark bookmark-icon <%= slide_img.bookmark_flag == 0 ? 'fa-regular' : 'fa-solid' %>"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- pc版の画像の下_読んだボタン、bookmarkボタン -->
                  <div class="pc_sw_img_footer">
                    <button
                      id="sw_read_btn"
                      class="submit-button-radius <%= slide_img.alreadyread == 0 ? '' : 'completion' %>"
                      data-reading-id="<%= slide_img.alreadyread %>"
                      data-img-id="<%= slide_img.id %>"
                      data-book-id="<%= book.id %>"
                    >
                      <%= slide_img.alreadyread == 0 ? '読んだ!' : '完了済み' %>
                    </button>
                    <button
                      class="sw_bookmark_btn"
                      data-bookmark-id="<%= slide_img.bookmark_flag %>"
                      data-img-id="<%= slide_img.id %>"
                      data-book-id="<%= book.id %>"
                    >
                      <!-- bookmark_on : bookmark_off -->
                      <i
                        class="fa-bookmark bookmark-icon <%= slide_img.bookmark_flag == 0 ? 'fa-regular' : 'fa-solid' %>"
                      ></i>
                    </button>
                    <div class="print">
                      <p class="print-zoom"></p>
                    </div>
                  </div>

                  <!-- sp版の読んだボタン -->
                  <div class="sp_sw_img_footer_2">
                    <button
                      id="sw_read_btn"
                      class="submit-button-radius <%= slide_img.alreadyread == 0 ? '' : 'completion' %>"
                      data-reading-id="<%= slide_img.alreadyread %>"
                      data-img-id="<%= slide_img.id %>"
                      data-book-id="<%= book.id %>"
                    >
                      <%= slide_img.alreadyread == 0 ? '読んだ!' : '完了済み' %>
                    </button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <button id="sw-button-prev" class="swiper-button-prev"></button>
          <button id="sw-button-next" class="swiper-button-next"></button>
        </div>
        <div class="modal-menu-background"></div>
        <div class="modal_footer">
          <!-- トータルページモーダルトリガーボタン -->
          <div class="total-page-btn baloon-hover">
            <button id="open-totalpage-modal" class="totalpage-btn open-totalpage-modal-js">
              <img
                src="https://prog-8.com/assets/packs/dist/images/footer-slides-button-icon-5422fe1e516d2055acb4..svg"
              />
              <span>読むページを更新</span>
            </button>
            <div class="ballown-wrap">
              <div class="balloon">
                <p>読むページは<br />本のページ数です</p>
              </div>
            </div>
          </div>
          <div class="slide_footer_menu_btn">
            <div class="sw-pagination-wrap">
              <div class="swiper-pagination"></div>
            </div>
            <!-- ここに各スライドのコントロールボタンを追加します -->
            <div class="zoom-controls">
              <button class="zoomIn">
                <i class="fa-regular fa-square-plus zoom-while"></i>
              </button>
              <button class="zoomOut">
                <i class="fa-regular fa-square-minus zoom-while"></i>
              </button>
              <button class="zoomReset">
                <i class="fa-solid fa-arrows-to-dot zoom-while"></i>
              </button>
            </div>
            <button class="download-btn">
              <i class="fa-regular fa-circle-down slide-while"></i>
            </button>
            <button class="img_delete_btn">
              <i class="fa-regular fa-trash-can slide-while"></i>
            </button>
          </div>
          <!-- スマホ用ハンバーガーメニュー -->
          <div id="sp-slide-humberger" class="sp-hamburger-menu tap-none-js">
            <i class="fa-solid fa-ellipsis sp-slide"></i>
          </div>
        </div>
        <!-- modal_footer -->
        <!-- spスライドのメニューコンテンツ -->
        <div class="sp-slide-menu-content">
          <ul id="menu">
            <li><p class="open-totalpage-modal-js">読むページを更新</p></li>
            <li><p>画像の削除</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
