<!-- モーダル -->
<div class="sw-modal">
  <div class="sw-reveal-outer">
    <div class="sw-reveal-wrapper">
      <div class="sw-reveal-inner">

        <!-- judge-popup -->
        <div>
          <!-- 精読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-seidoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--seidoku">
              精読です！精読ページは「精読ああああ精読です」です！
            </div>
            <div class="judge-popup__suggestion">
              つまったときはスライドやヒントも確認してみましょう
            </div>
          </div>
          <!-- 通読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-tudoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--tudoku">
              精読です！精読ページは「精読ああああ精読です」です！
            </div>
            <div class="judge-popup__suggestion">
              つまったときはスライドやヒントも確認してみましょう
            </div>
          </div>
          <!-- 乱読popup -->
          <div class="judge-popup judge-popup__hidden" id="judged-randoku">
            <div class="judge-popup__close">×</div>
            <div class="judge-popup__title">Congratulations!</div>
            <div class="judge-popup__message judge-popup__message--randoku">
              精読です！精読ページは「精読ああああ精読です」です！
            </div>
            <div class="judge-popup__suggestion">
              つまったときはスライドやヒントも確認してみましょう
            </div>
          </div>
        </div>

        <!-- Sliderを包むコンテナ要素 -->
        <div class="swiper">
          <!-- スライド要素を包む要素 -->
          <div class="swiper-wrapper">
            <!-- 各スライド -->
            <% book.randoku_imgs_all.each do |slide_img| %>
              <div class="swiper-slide">
                <p class="sw_img_name"><%= slide_img.name %></p>
                <p class="sw_book_title"><%= book.title %></p>
                <div id="sw_bookmark_flag" class="sw_bookmark">
                </div>
                <div class="sw_img">
                  <img src="<%= "#{slide_img.path}" %>?#{Time.now.to_i}" alt=" " />
                </div>
                <div class="sw_updated">
                  <%# <p><%= slide_img.updated_at %></p>
                </div>
                <button id="sw_read_btn" class="sw-read-btn <%= slide_img.alreadyread == 0 ? '' : 'completion' %>" data-reading-id="<%= slide_img.alreadyread %>" data-img-id="<%= slide_img.id %>" data-book-id="<%= book.id %>"><%= slide_img.alreadyread == 0 ? "読んだ!" : "完了済み" %></button>
              </div>
            <% end %>
          </div>
        </div>

        <div class="swiper-pagination"></div>
        <button id="sw-button-prev" class="swiper-button-prev"></button>
        <button id="sw-button-next" class="swiper-button-next"></button>

        <button id="sw-close-btn" class="sw-close-button">&times;</button>
      </div>
    </div>
  </div>
</div>

