<p>maki</p>
<p>
  <%= books.all_randoku_imgs_count %></br>
  乱読画像数</br>
  ------
</p>
<p>
  <%= books.all_count %></br>
  登録本数</br>
  ------
</p>
<br>
  <%= books.all_seidoku_state_count %></br>
  精読本数</br>
  ------
</p>

<p>ランキング</p>
<ul class="ranking-menus">
  <li>
    <%= link_to('精読メモの多い順', "/books/seidoku_index", class: 'button') %>
  </li>
  <li>
    <%= link_to('精読本の投稿順', "/books/seidoku_rank_created_books", class: 'button') %>
  </li>
  <li>
    <%= link_to('乱読メモの投稿順', "/books/seidoku_rank_most_randoku_imgs", class: 'button') %>
  </li>
</ul>

<h1>精読中の本</h1>
<p>
  Total <%= books.all_seidoku_state_count %>冊
</p>

<h3>前回の続き</h3>
<% if books.seidoku_history.present? %>
  <%= books.seidoku_history[:reading_state] %>
  <% if books.seidoku_history[:seidoku_history_ranking].present? %>
    <p><%= books.seidoku_history[:seidoku_history_ranking] %>位</p>
  <% end %>
  <p>
    タイトル:
    <%= books.seidoku_history[:title] %>
  </p>
  <p>
    乱読画像数：
    <%= books.seidoku_history[:randoku_imgs_count] %>
  </p>
  <p>
    乱読メモ数：
    <%= books.seidoku_history[:randoku_memos_count] %>
  </p>
  <% if books.seidoku_history[:seidoku_memos_count] != 0 %>
    <p>
      精読メモ数:
      <%= books.seidoku_history[:seidoku_memos_count] %>
    </p>
  <% end %>
<% else %>
  <p>アウトプットに向けた精読メモの必要性、精読メモを取ることができない場合、乱読メモを見返す必要性を伝える</p>
<% end %>
