<div class="book-index">
  <div class="user-profile">
    <div class="user-profile-item user-status">
      <img src="https://placehold.jp/50x70.png" alt="ユーザーアイコン" />
      <p clas="user-profile-name">maki</p>
    </div>

    <div class="user-profile__separator"></div>
    <div class="user-profile-item book-count">
      <div class="user-profile-cleard-count">
        <p><i class="fa-solid fa-image fa-lg"></i></p>
        <p class="user-profile-cleard-count"><%= books.all_randoku_imgs_count %></p>
      </div>
      <p class="user-profile-cleared-text">乱読画像数</p>
    </div>

    <div class="user-profile__separator"></div>
    <div class="user-profile-item book-count">
      <div class="user-profile-cleard-count">
        <p><i class="fa-solid fa-book fa-lg"></i></p>
        <p class="user-profile-cleard-count"><%= books.all_count %></p>
      </div>
      <p class="user-profile-cleared-text">登録本数</p>
    </div>
    <div class="user-profile__separator"></div>
    <div class="user-profile-item clear-lessons">
      <div class="user-profile-cleard-count">
        <p><i class="fa-solid fa-medal fa-lg"></i></p>
        <p class="user-profile-cleard-count"><%= books.all_seidoku_state_count %></p>
      </div>
      <p class="user-profile-cleared-text">精読本数</p>
    </div>
  </div>

  <div class="tabbled-sort-area">
    <ul class="tabbed-index-work-area border-none">
      <li class="tab-index-book-progress active">乱読中の本</li>
      <li class="tab-index-book-progress">精読中の本</li>
    </ul>
    <div class="index-book-ranking">
      <p>Total <%= books.all_seidoku_state_count %>冊</p>
      <%#= raw File.read(Rails.root.join('public', 'sort.svg')) %>
      <div class="ranking-sort-btn">
        <%
          svg_ranking_sort =
            File.read(Rails.root.join('public', 'sort.svg')).gsub('<svg ', '<svg class="ranking-sort navi-trigger-btn-js"')
        %>
        <%= raw svg_ranking_sort %>
        <div class="ranking-sort-navi navi-panel-js">
          <ul class="ranking-menus">
            <li class="ranking-menu">
              <%= link_to('精読メモの多い順', '/books/seidoku_index', class: 'button') %>
            </li>
            <li class="ranking-menu">
              <%= link_to('精読本の投稿順', '/books/seidoku_rank_created_books', class: 'button') %>
            </li>
            <li class="ranking-menu">
              <%= link_to('乱読メモの多い順', '/books/seidoku_rank_most_randoku_imgs', class: 'button') %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="index-user-last-time-book-table">
    <div class="index-user-lesson-label">
      <p><i class="fa-solid fa-book fa-lg index-lesson-label-icon"></i></p>
      <p class="index-lesson-label">前回の続き</p>
    </div>
    <% if !books.seidoku_history.present? %>
      <p>乱読画像を投稿してメモを再読する必要性を伝える</p>
    <% end %>

    <div class="index-user-book-info">
      <div class="index-user-book">
        <div class="index-user-book-cover">
          <% if books.seidoku_history[:seidoku_history_ranking].present? %>
            <!--<%= books.seidoku_history[:seidoku_history_ranking] %>位</p>-->
            <i class="fa-solid fa-crown fa-lg index-crown"></i>
          <% end %>
          <img src="https://placehold.jp/80x110.png" width="100%" alt="ブックカバー" class="index-book-cover-img" />
        </div>
        <div class="index-user-book-title">
          <p>
            <p class="index-book-title-label">タイトル</p>
            <span class="index-book-title"><%= books.seidoku_history[:title] %></span>
          </p>
          <span class="index-book-progress"><%= books.seidoku_history[:reading_state] %></span>
        </div>
      </div>

      <div class="index-user-book-memo">
        <div class="index-user-book-memo-count">
          <p><span class="index-book-label">乱読画像数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-image fa-lg index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count"><%= books.seidoku_history[:randoku_imgs_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>

        <div class="index-user-book-memo-count">
          <p><span class="index-book-label">精読メモ数</span></p>
          <div class="index-book-memo">
            <i class="fa-regular fa-note-sticky fa-lg index-memo-icon"></i>
            <p>
              <span class="index-book-memo-count"><%= books.seidoku_history[:seidoku_memos_count] %></span>
              <span class="index-book-memo-unit">枚</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
