<main>
  <%= render partial: 'layouts/header', locals: { user: user } %>

  <!-- フラッシュアラートを表示 -->
  <div class="c-flash c-flash--alert">
    <div class="c-flash-text"></div>
    <i class="fa-solid fa-xmark c-flash-close" id="close-flash"></i>
  </div>
  <div class="main-content-js">
    <div class="inner book-profile">
      <h1 class="font-large col-dark-brown">本のプロフィール</h1>

      <%= form_tag("/books/create", method: :post) do %>
        <div class="book-profile-form">
          <div class="input-book-info">
            <p class="input-book-label font-small-12">タイトル</p>
            <input
              id="input_title"
              class="form-oneline"
              type="text"
              name="title"
              placeholder="タイトル"
              value="<%= book.title %>"
            />
            <p id="title_valid_error" class="valid_error"></p>
          </div>

          <div class="input-book-info">
            <p class="input-book-label font-small-12">著者名</p>
            <input
              id="input_author"
              class="form-oneline"
              type="text"
              name="author_1"
              placeholder="著者"
              value="<%= book.author %>"
            />
            <p id="author_valid_error" class="valid_error"></p>
          </div>

          <div class="input-book-info">
            <p class="input-book-label font-small-12">出版社</p>
            <input
              id="input_publisher"
              class="form-oneline"
              type="text"
              name="publisher"
              placeholder="出版社"
              value="<%= book.publisher %>"
            />
            <p id="publisher_valid_error" class="valid_error"></p>
          </div>
        </div>

        <div class="book-profile-totalpage">
          <p class="total-page-title">読書する本のページ数</p>
          <p class="total-page-description">
            これから読む本のページ数を入力してください。<br />
            「さらさら読書」「じっくり読書」をジャッジします。<br />
            <span>（20-999の整数のみ入力できます）</span>
          </p>
          <input
            id="input_total_page"
            class="input-total-page"
            type="number"
            name="total_page"
            min="20"
            step="1"
            placeholder="20"
            value="<%= book.total_page.present? && book.total_page != 0 ? book.total_page : 20 %>"
          />
          <p id="total_page_valid_error" class="valid_error"></p>
        </div>
        <input class="submit-button book-info-submit-js" type="submit" value="送信" />
      <% end %>
    </div>
  </div>
</main>
<div class="common-footer">Copyright © 2023 maki</div>
