<main>
  <%= render partial: 'layouts/header' %>

  <!-- フラッシュアラートを表示 -->
  <div class="c-flash c-flash--alert">
    <div class="c-flash-text"></div>
    <i class="fa-solid fa-xmark c-flash-close" id="close-flash"></i>
  </div>
  <div class="main-content-js">
    <div class="inner book-profile">
      <h1>本のプロフィール</h1>

      <div class="book-cover-upload-form">
        <!--画像アップロードフォームを表示-->
        <%= form_tag("/books/#{book.id}/cover_create", id: 'upload-form', multipart: true) do %>
          <input
            id="book-cover-field"
            name="page_img"
            type="file"
            accept=".jpg, .jpeg, .png, .heic"
            style="display: none;"
            onchange="this.form.submit()"
          />

          <label for="book-cover-field" class="upload-cover-button">
            <div class="book-cover-img">
              <img src="https://placehold.jp/100x140.png" alt="ブックカバー" />
              <div label="画像を変更" class="circle-btn">
                <i class="fa-solid fa-camera fa-lg book-cover-camera-icon"></i>
              </div>
            </div>
          </label>
        <% end %>
      </div>

      <%= form_tag("/books/create", method: :post) do %>
        <div class="book-profile-form">
          <div class="input-book-info">
            <p class="input-book-label">タイトル</p>
            <input
              id="input_title"
              class="form-oneline"
              type="text"
              name="title"
              placeholder="タイトル"
              value="<%= book.title %>"
            />
            <p id="title_valid_error"></p>
          </div>

          <div class="input-book-info">
            <p class="input-book-label">著者名</p>
            <input
              id="input_author"
              class="form-oneline"
              type="text"
              name="author"
              placeholder="著者"
              value="<%= book.author %>"
            />
            <p id="author_valid_error"></p>
          </div>

          <div class="input-book-info">
            <p class="input-book-label">出版社</p>
            <input
              class="form-oneline"
              type="text"
              name="publisher"
              placeholder="出版社"
              value="<%= book.publisher %>"
            />
          </div>
        </div>

        <div class="book-profile-totalpage">
          <p class="total-page-title">読む予定のページ数を<br />入力してください</p>
          <p class="total-page-description">
            読む予定とは本のページ数のことです。<br />
            入力数値は「乱読」と「精読」の評価に使われます。<br />
            <span>（20-999の整数のみ入力できます）</span>
          </p>
          <input
            id="input_total_page"
            class="input-total-page"
            type="number"
            name="total_page"
            min="20"
            step="1"
            placeholder="20"
            value="<%= book.total_page.present? && book.total_page != 0 ? book.total_page : 20 %>"
          />
          <p id="total_page_valid_error"></p>
        </div>
        <input class="submit-button book-info-submit-js" type="submit" value="送信" />
      <% end %>
    </div>
  </div>
</main>
<div class="common-footer">copywrite</div>
