<%= render partial: 'layouts/header' %>
<!-- フラッシュを表示 -->
<div class="c-flash c-flash--notice slide">
  <div class="c-flash-icon">
    <div class="c-flash-text"></div>
  </div>
</div>
<!-- フラッシュアラートを表示 -->
<div class="c-flash c-flash--alert slide">
  <div class="c-flash-text"></div>
  <i class="fa-solid fa-xmark c-flash-close" id="close-flash"></i>
</div>
<div class="main-content-js inner book-show-upper-inner">
  <div class="book-info-wrapp">
    <div class="book-info-detail">
      <!--本の情報-->
      <div class="book-progress">
        <div class="book-progress-icon show-tabs"><i class="fa-solid fa-book-bookmark"></i></div>
        <div class="book_reading_progress show-tabs font-large"><%= book.reading_progress %></div>
        <div><i class="fa-regular fa-circle-question show-tabs"></i></div>
      </div>
      <div class="book-input-info">
        <h1><%= book.title %><i class="fa-solid fa-pen-to-square"></i></h1>

        <p>著者：<%= book.author %></p>
        <p>出版社：<%= book.publisher %></p>
        <p>読むページ数：<%= book.total_page %></p>
      </div>
    </div>
    <div class="book-cover">
      <img src="<%= book.cover_path %>" width="100%" height="auto" alt="ブックカバー" class="book-cover-show" />
    </div>
  </div>
  <!-- showページのタブ -->
  <div class="tab tabbled-book-show">
    <div class="tab__underline">
      <ul class="tab__menu tabbed-show-work-area">
        <li class="tab__menu-item show-page is-active" data-tab="01"><p class="tab-width">乱読画像メモ</p></li>
        <li class="tab__menu-item show-page" data-tab="02"><p class="tab-width">乱読メモ</p></li>
        <!-- 鍵の設定 -->
        <% if book.seidoku_memo_key == true %>
          <li class="tab__menu-item show-page tab-disabled" data-tab="03">
            <div class="seidoku-key-wrapper tab-width">
              <p class="seidoku_memo_key">
                <i class="fa-solid fa-lock lock-key"></i>
              </p>
              <p>精読メモ</p>
            </div>
          </li>
        <% else %>
          <li class="tab__menu-item show-page" data-tab="03"><p class="tab-width">精読メモ</p></li>
        <% end %>
      </ul>
      <div id="underline" class="show-page"></div>
      <!-- 追加 -->
    </div>
  </div>
</div>
<div class="tab__panel">
  <div class="tab__panel-box show-page tab__panel-box001 is-show" data-panel="01">
    <!-- 乱読画像メモのパーシャル -->
    <%= render partial: 'books/show_tabs/imgs', locals: { book: book } %>
  </div>
  <div class="tab__panel-box show-page tab__panel-box002" data-panel="02">
    <!-- 乱読画像メモのパーシャル -->
    <%= render partial: 'books/show_tabs/randoku_memos', locals: { book: book_randoku_memos } %>
  </div>
  <div class="tab__panel-box show-page tab__panel-box003" data-panel="03">
    <!-- 精読メモのパーシャル -->
    <%= render partial: 'books/show_tabs/seidoku_memos', locals: { book: book_seidoku_memos } %>
  </div>
</div>
<!-- tab__panel -->
<div class="common-footer">copywrite</div>
