<h1>登録した本の情報</h1>
<p>
<%= book.title %>
</p>
<p>
<%= book.author %>
</p>
<p>
<%= book.publisher %>
</p>
<p>
<%= book.total_page %>
</p>
<p>乱読画像メモ</p>
<p>
未読：<%= book.randoku_imgs_unread_count %>, 読了：<%= book.randoku_imgs_alreadyread_count %>
</p>


<!--画像アップロードフォームを表示-->
<%= form_tag("/books/#{book.id}/imgs", {multipart: true}) do %>
  <h4>気になったページはパシャパシャ撮ってアップロードするだけ。<br>
  後で読み返せるメモにしましょう</h4>
  <input name="page_imgs[]" type="file" multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
  <div>
    <input type="submit" value="アップロードする">
  </div>
  <p>投稿できる画像の拡張子はjpg/jpeg/png/heic/pdf(1ページ分)のみになります</p>
<% end %>

<!--画像メモ一覧を表示-->
<h2>乱読メモ一覧</h2>
<% if book.randoku_imgs_file_names.empty? %>
  "画像がありません"
<% else %>
  <% book.randoku_imgs_all.each_with_index do |img, i| %>
    <img src="<%= "#{img.thumbnail_path}" %>?#{Time.now.to_i}" alt=" " id="sw_modal_trigger" data-slide-index="<%= i %>" />
  <% end %>
<% end %>

<!-- 乱読画像を表示するためのモーダル -->
<%= render partial: 'modal_randoku_slide', locals: { book: book } %>
