<h1>登録した本の情報</h1>
<p>
<%= book.title %>
</p>
<p>
<%= book.author %>
</p>
<p>
<%= book.publisher %>
</p>
<p>
<%= book.total_page %>
</p>
<div class="book_reading_progress"><%= book.reading_progress %></div>
<p class="seidoku_memo_key">
  <i class="fa-solid fa-lock <%= book.seidoku_memo_key == false ? 'memo_key_hidden' : '' %>"></i>
  <%= book.seidoku_memo_key == false ? '精読メモタグ開錠' : '精読メモタグ施錠' %>
</p>

<p>乱読画像メモ</p>
<p id="img_read_status_count">未読：<%= book.randoku_imgs_unread_count %>, 読了：<%= book.randoku_imgs_alreadyread_count %></p>
<p>精読基準：乱読画像メモが<%= book.seidoku_line_1 %>以上、未読画像メモが<%= book.seidoku_line_2 %>未満</p>
<% if book.first_post_img_path.present? %>
  <%= link_to "初めての乱読画像", "javascript:void(0)", id: "sw_modal_trigger",
  "data-slide-index": 0, "data-src": "#{book.first_post_img_path}" %>
<% end %>


<!--画像アップロードフォームを表示-->
<%= form_tag("/books/#{book.id}/imgs", {multipart: true}) do %>
  <h4>気になったページはパシャパシャ撮ってアップロードするだけ。<br>
  後で読み返せるメモにしましょう</h4>
  <input name="page_imgs[]" type="file" multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
  <div>
    <input type="submit" value="アップロードする">
  </div>
  <p>投稿できる画像の拡張子はjpg/jpeg/png/heic/pdf(1ページ分)のみになります</p>
<% end %>

<!--画像メモ一覧を表示-->
<h2>乱読メモ一覧</h2>
<% if book.randoku_imgs_all.empty? %>
  "画像がありません"
<% else %>
  <% book.randoku_imgs_all.each_with_index do |img, i| %>
    <img src="<%= "#{img.thumbnail_path}" %>?#{Time.now.to_i}" alt=" " id="sw_modal_trigger" data-slide-index="<%= i %>" />
    <p><%= img.name %></p>
    <p><%= img.updated_at %></p>
    <p class="is_already_read_check"><%= img.alreadyread == 0 ? "未読" : "既読" %></p>
    <p><%= img.bookmark_flag == 0 ? "" : "bkm" %></p>
  <% end %>
<% end %>

<!-- 乱読画像を表示するためのモーダル -->
<%= render partial: 'books/modal_randoku_slide', locals: { book: book } %>
