<!--æœ€åˆã®page-->
<div class="book_title"><%= books.title %></div>
<div class="swiper">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% book.book_randoku_imgs_all.each do |main_img| %>
      <div class="swiper-slide">
        <p>slide</p>
      </div>
      <div class="bookmark"><%= main_img[:bookmark_flag] %></div>
      <div class="img_name"><%= main_img[:name] %></div>
      <div class="updated_at"><%= main_img[:updated_at] %></div>
      <div class="swiper-slide">
        <img src="<%= "/#{main_img[:id]}/#{main_img[:name}}" %>?#{Time.now.to_i}"/>
      </div>
    <% end %>
  </div>

  <div>
    <div class="state_button">
      <%= book.randoku_img_of_current[:reading_state]%>
    </div>
    <div class="swiper-pagination">
      <%#= "(#{page}/#{book.randoku_imgs_all_count})" %>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
