<!-- グローバルスライドメニューバー -->
<div id="global-sidebar" class="global-sidebar sb-right">
  <ul class="global-sidebar__user-info">
    <li>
      <div class="global-sidebar__user-image">
        <div class="profile-image" style="background-image: url('/default_user_image.jpg')"></div>
      </div>
      <a>maki</a>
    </li>
  </ul>
  <ul class="global-sidebar__menu">
    <li><a>本の一覧</a></li>
    <li><a>本を登録する</a></li>
    <li><a>絞り込み検索</a></li>
    <li><a>推しの設定</a></li>
    <li><a>ヘルプ</a></li>
    <li><a>ログアウト</a></li>
  </ul>
</div>
<header id="header-content-js" class="header-wrapper">
  <div class="randoku-logo"><img src="https://placehold.jp/50x50.png" width="100%" height="auto" /></div>
  <div class="header-menus-wrapper">
    <ul class="header-menus">
      <li class="link">
        <%=
          link_to '本の一覧',
                  '/books/randoku_index',
                  class: "link-text #{'is_active' if current_page?('/books/randoku_index')}"
        %>
      </li>
      <li class="link">
        <%= link_to '本を登録する', '/books/new', class: "link-text #{'is_active' if current_page?('/books/new')}" %>
      </li>
      <li class="link">
        <%=
          link_to '絞り込み検索', '/memo_search', class: "link-text #{'is_active' if current_page?('/memo_search')}"
        %>
      </li>
    </ul>
    <div class="search-icon">
      <div><i class="fa-solid fa-magnifying-glass header-search-icon"></i></div>
      <div class="user-menu__vertical-line"></div>
    </div>
  </div>

  <div class="user-menu-navigation">
    <button class="pc-user-info-btn navi-trigger-btn-js">
      <div class="user-dropdown">
        <img
          src="/default_user_image.jpg"
          width="33"
          height="33"
          alt="ユーザーアイコン"
          class="default-user-icon-img"
        />
        <div class="user-name-dropdown">maki</div>
        <i class="fa-solid fa-sort-down dropdown"></i>
      </div>
    </button>
    <div class="user-navi navi-panel-js">
      <ul class="user-menus">
        <li class="user-menu">
          <%= link_to('アカウントの設定', '#', class: 'button') %>
        </li>
        <li class="user-menu">
          <%= link_to('推しの設定', '#', class: 'button') %>
        </li>
        <li class="user-menu">
          <%= link_to('ヘルプ', '#', class: 'button') %>
        </li>
        <li class="user-menu">
          <%= link_to('ログアウト', '#', class: 'button') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="open-slide-menu-js">
    <div class="sb-toggle-right">
      <i class="fa-solid fa-bars header-bars"></i>
    </div>
  </div>
</header>
