<!DOCTYPE html>
<html>
  <head>
    <title>yondeco</title>
    <!-- reset.css ress -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://kit.fontawesome.com/7e6ef99139.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/panzoom@9.4.3/dist/panzoom.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.css' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
    <%= yield %>

    <script>
      // controllerからhtmlフォーマットに対しての以下のレスポンスがある場合scriptタグ内が実行される
      // flash[:error] = object.errors.full_messages
      // flash[:error] = object.errors.messages[:column].join(',')
      // render :new
      document.addEventListener('DOMContentLoaded', (event) => {
        const flashError = <%= flash[:error].blank? ? 'null' : flash[:error].to_json.html_safe %>;
        if (flashError) {
          js_flash_alert(flashError);
        }

        const flashNotice = <%= flash[:notice].blank? ? 'null' : flash[:notice].to_json.html_safe %>;
        if (flashNotice) {
          js_flash(flashNotice);
        }
      });
    </script>
  </body>
</html>
