<!DOCTYPE html>
<html>
  <head>
    <title>MyReadMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://kit.fontawesome.com/7e6ef99139.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.css' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
    <header>
      <ul class="header-menus">
        <li>
          <%= link_to('本の一覧', '/') %>
        </li>
        <li>
          <%= link_to('本を登録する', '/books/new') %>
        </li>
      </ul>
    </header>

    <%= yield %>

    <script>
      // controllerからhtmlフォーマットに対しての以下のレスポンスがある場合scriptタグ内が実行される
      // flash[:error] = @object.errors.full_messages
      // render :new
      document.addEventListener('DOMContentLoaded', (event) => {
        const flash = <%= flash[:error].blank? ? 'null' : flash[:error].to_json.html_safe %>;
        if (flash) {
          js_flash_alert(flash);
        }
      });
    </script>
  </body>
</html>
